.calendar-custom .fc-daygrid-day-frame {
  height: 150px !important;
  border-bottom: 1.5px solid #d2dbe1;
}
.calendar-custom.week .fc-daygrid-day-frame,
.calendar-custom.day .fc-daygrid-day-frame {
  height: 100px !important;
  border-bottom: 1.5px solid #d2dbe1;
  padding-left: 10px;
  padding-right: 10px;
}
.calendar-custom .fc-col-header {
  width: 100% !important;
}
.calendar-custom .fc-daygrid-body {
  width: 100% !important;
}
.calendar-custom .fc-daygrid-body-unbalanced {
  width: 100% !important;
}
.calendar-custom .fc .fc-scrollgrid-sync-table {
  width: 100% !important;
}
.calendar-custom .fc-theme-standard td,
.calendar-custom .fc-theme-standard th {
  border-top: none !important;
  border-bottom: none !important;
}
.calendar-custom .fc-event-title {
  font-size: 12px;
}
.calendar-custom .fc-event {
  min-height: 28px;
  width: auto !important;
  max-width: 100% !important;
}
.calendar-custom .fc-event-time {
  font-size: 12px;
}
.calendar-custom th .fc-scrollgrid-sync-inner {
  border-bottom: none !important;
  padding-bottom: 10px;
}
.calendar-custom.day th .fc-scrollgrid-sync-inner {
  padding-left: 10px;
  display: flex;
  justify-content: start;
}
.calendar-custom .fc-daygrid-day-number {
  font-size: 14px;
  font-weight: 500;
  color: #414142;
}
.calendar-custom .fc .fc-daygrid-day-frame,
.calendar-custom .fc .fc-scrollgrid-sync-inner .fc-daygrid-day-events {
  background-color: #f6f9fa;
}
.calendar-custom.week .fc .fc-daygrid-day-frame,
.calendar-custom.day .fc .fc-daygrid-day-frame,
.calendar-custom.week .fc .fc-scrollgrid-sync-inner .fc-daygrid-day-events,
.calendar-custom.day .fc .fc-scrollgrid-sync-inner .fc-daygrid-day-events {
  background-color: #ebf1f4;
}
.calendar-custom.week .fc-scrollgrid-sync-table .fc-daygrid-day,
.calendar-custom.day .fc-scrollgrid-sync-table .fc-daygrid-day {
  border: none !important;
}
.calendar-custom .fc .fc-daygrid-day-top {
  display: flex;
  justify-content: center;
  font-size: 12px;
  background-color: #f6f9fa;
  padding: 2px;
  height: 29px;
}
.calendar-custom .fc-daygrid-day-number.current-day {
  border-radius: 50%;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  width: 27px;
  height: 27px;
  background-color: #0068b7;
  color: white !important;
  margin-top: -2px;
}
.calendar-custom .fc .fc-col-header-cell {
  border-bottom: 1px solid black;
}
.calendar-custom .fc-daygrid-day {
  height: 100px;
}
.calendar-custom .fc .fc-multimonth-multicol .fc-daygrid-more-link {
  border: none !important;
}
.calendar-custom .fc-event.event-type-task .fc-event-title-container {
  background-color: white !important;
  font-size: 12px !important;
  color: black !important;
  height: 20px !important;
  box-sizing: border-box !important;
  width: 100% !important;
  border: 0 !important;
  position: relative;
  font-weight: 500;
}
.calendar-custom .fc-timegrid-event .fc-event-main {
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.05),
    0 -2px 4px rgba(0, 0, 0, 0.05),
    0 2px 4px rgba(0, 0, 0, 0.05);
}
.calendar-custom .event-type-task.fc-v-event {
  background-color: white !important;
  border: 1px;
}
.calendar-custom .event-type-task.fc-h-event {
  border: 0;
  box-shadow:
    0 1px 3px rgba(0, 0, 0, 0.05),
    0 -2px 4px rgba(0, 0, 0, 0.05),
    0 2px 4px rgba(0, 0, 0, 0.05);
}
.calendar-custom .fc-col-header,
.calendar-custom .fc-daygrid-body,
.calendar-custom .fc-scrollgrid-sync-table,
.calendar-custom .fc-timegrid-body,
.calendar-custom .fc-timegrid-body table {
  width: 100% !important;
}
.calendar-custom .fc-event.event-type-task .fc-event-time {
  background-color: white;
  font-size: 12px;
  height: 20px;
  box-sizing: border-box;
  color: black !important;
}
.calendar-custom .fc-event.event-type-task:hover {
  background-color: #e5e5e5;
}
.calendar-custom .fc-event.event-type-schedule .fc-event-title-container {
  font-size: 12px;
  height: 20px;
  box-sizing: border-box;
}
.calendar-custom .fc-event-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px !important;
}
.calendar-custom .fc-event {
  border-color: transparent;
}
.calendar-custom .fc-timegrid-axis-cushion {
  font-size: 12px;
  color: #77858f;
  width: 100%;
  text-align: center;
  visibility: hidden;
}
.calendar-custom .fc-popover {
  visibility: hidden;
}
/* All Day */
.calendar-custom
  .fc-timegrid-axis.fc-scrollgrid-shrink
  .fc-timegrid-axis-frame.fc-scrollgrid-shrink-frame.fc-timegrid-axis-frame-liquid {
  display: none;
}
.calendar-custom
  .fc-timeGridDay-view
  .fc-scrollgrid-section
  .fc-timegrid-divider.fc-cell-shaded,
.calendar-custom .fc-timeGridDay-view .fc-col-header {
  display: none !important;
}
.calendar-custom
  .fc
  .fc-timeGridDay-view
  .fc-scrollgrid-section.fc-scrollgrid-section-header.fc-scrollgrid-section-sticky {
  height: 0;
}
.calendar-custom
  .fc
  .fc-timeGridDay-view
  .fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
  font-weight: 400;
  color: rgb(148 163 184);
}
/* Week */
.calendar-custom.week.one-all-day-event
  .fc-daygrid-body.fc-daygrid-body-unbalanced.fc-daygrid-body-natural,
.calendar-custom.day.one-all-day-event
  .fc-scrollgrid.fc-scrollgrid-liquid
  tbody
  tr:first-child
  .fc-scroller-harness {
  height: 40px !important;
  overflow: hidden;
}
.calendar-custom.week.zero-all-day-events
  .fc-daygrid-body.fc-daygrid-body-unbalanced.fc-daygrid-body-natural,
.calendar-custom.day.zero-all-day-events
  .fc-scrollgrid.fc-scrollgrid-liquid
  tbody
  tr:first-child
  .fc-scroller-harness {
  height: 0px !important;
  overflow: hidden;
}
.calendar-custom.week.many-all-day-events
  .fc-daygrid-body.fc-daygrid-body-unbalanced.fc-daygrid-body-natural,
.calendar-custom.day.many-all-day-events
  .fc-scrollgrid.fc-scrollgrid-liquid
  tbody
  tr:first-child
  .fc-scroller-harness {
  height: 90px !important;
  overflow: hidden;
}
.calendar-custom .fc-theme-standard th {
  border: none !important;
}
.calendar-custom .fc .fc-timegrid-col.fc-day-today {
  background-color: transparent !important;
}
.calendar-custom .fc .fc-daygrid-day.fc-day-today {
  background-color: transparent !important;
}
.calendar-custom .fc-timegrid-slots colgroup col {
  border: none !important;
}
.calendar-custom .fc-theme-standard td {
  border-left: none !important;
  border: 1.5px solid #d2dbe1;
}
.calendar-custom .fc-theme-standard td:last-child,
.calendar-custom .fc-theme-standard th:last-child {
  border-right: none !important;
}
.calendar-custom.week .fc-theme-standard td:first-child,
.calendar-custom.week .fc-theme-standard th:first-child {
  border-right: none !important;
}
.fc-timegrid-divider.fc-cell-shaded {
  visibility: hidden;
}
.calendar-custom .fc-theme-standard .fc-scrollgrid {
  border: none !important;
}
.calendar-custom .fc .fc-timegrid-divider {
  padding: 0 !important;
}
.calendar-custom .fc-view-timeGridWeek.fc-event-time {
  color: #f5f5f5;
  font-size: 14px;
  padding: 4px;
  border-radius: 5px;
}
.calendar-custom .fc-timegrid-slot.fc-timegrid-slot-lane::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: #d2dbe1;
  transform: -translateX(50%);
  opacity: 0.7;
}
.calendar-custom
  .fc-timegrid-slot.fc-timegrid-slot-lane.fc-timegrid-slot-minor::after {
  display: none;
}
.calendar-custom .fc-timegrid-slot.fc-timegrid-slot-lane {
  position: relative;
  top: 10px;
  height: 30px;
}
.calendar-custom .fc .fc-timegrid-slot {
  height: 87px;
}
.calendar-custom .fc .fc-timegrid-slot-label {
  vertical-align: top !important;
}
.calendar-custom .fc .fc-scrollgrid-section-sticky > * {
  background-color: #ecf0f2 !important;
  z-index: 2;
}
.calendar-custom .fc-theme-standard th {
  border: none !important;
}
/* Day */
.calendar-custom .custom-day-view.fc-event {
  min-height: 20px;
}
.calendar-custom .fc-timeGridWeek-view .fc-event-main {
  width: 100% !important;
  border-radius: 8px !important;
  overflow: hidden;
}
/* Month */
.calendar-custom .fc-daygrid-event {
  margin-left: 1px;
  width: 100%;
}
.calendar-custom .fc-daygrid-event .fc-event-main {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.calendar-custom .fc-h-event {
  border: 0;
  background: none !important;
}

/* Header */
.calendar-custom .fc-col-header-cell-cushion {
  font-weight: 400 !important;
  font-size: 14px;
  color: #000000;
}
.calendar-custom .fc-col-header-cell.fc-day-today {
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar-custom .fc-col-header-cell.fc-day-today::after {
  content: '今日';
  margin-bottom: 7px;
  color: white;
  padding: 2px 5px 2px 5px;
  background-color: theme('colors.primary');
  border-radius: 0.375rem;
  font-size: 12px;
}
.calendar-custom .fc-v-event {
  background-color: #fff;
  margin-top: 10px;
  height: 100%;
  border-radius: 8px;
}
.calendar-custom .fc-timegrid-event-harness-inset .fc-timegrid-event,
.fc-timegrid-event.fc-event-mirror,
.fc-timegrid-more-link {
  box-shadow: none;
}
.calendar-custom .fc-timegrid-col-frame {
  overflow: visible !important;
}
/* Year */
.calendar-custom .fc .fc-multimonth {
  border: 0;
}
.calendar-custom.year .fc-day-header {
  color: #77858f;
}
.calendar-custom
  .fc
  .fc-multimonth-multicol
  .fc-multimonth-month
  .fc-daygrid-day-frame {
  height: 20px !important;
}
.calendar-custom .fc-multimonth-title {
  color: #0068b7 !important;
  text-align: left;
  margin-left: 10px
}
.calendar-custom .fc-multimonth-month {
  background-color: #f6f9fa !important;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
  border: 3px solid #ebf1f4 !important;
}
.calendar-custom .fc-multimonth-month .fc-daygrid-day-frame {
  padding: 0;
  height: 30px !important;
}

.calendar-custom
  .fc-multimonth-month
  .fc-daygrid-day-frame
  .fc-daygrid-day-events,
.calendar-custom .fc-multimonth-month .fc-daygrid-day-frame .fc-daygrid-day-bg {
  display: none;
}

.calendar-custom
  .fc-multimonth-month
  .fc-daygrid-day-frame
  .fc-daygrid-day-top {
  justify-content: center;
}

.calendar-custom
  .fc-multimonth-month
  .fc-daygrid-day-frame
  > *:not(.fc-daygrid-day-top) {
  display: none;
}

.calendar-custom .fc .fc-multimonth-multicol .fc-multimonth-month {
  padding: 0.2em;
}

.calendar-custom .fc-multimonth-month .fc-daygrid-day {
  border: none;
}

.calendar-custom .fc-multimonth-month .fc-daygrid-day-frame {
  padding: 0;
  border: none;
}
.calendar-custom .fc-multimonth-month .fc-daygrid-day {
  height: 40px;
}
.calendar-custom .fc-direction-ltr .fc-timegrid-col-events {
  margin-right: 0 !important;
}
.calendar-custom .fc-media-screen .fc-timegrid-now-indicator-container {
  top: 10px !important;
}
.calendar-custom .fc-event:focus::before,
.calendar-custom .fc-event:focus::after {
  outline: none;
  background-color: transparent !important;
  z-index: 0 !important;
  box-shadow: #f6f9fa 0.5px 0.5px 0.5px 0.5px !important;
  outline: none !important;
  border: none !important;
  border-radius: 0 !important;
}

.calendar-custom .fc-event-selected,
.calendar-custom .fc-event:focus {
  box-shadow: none !important;
}

/* Now indicator */
.calendar-custom .fc .fc-timegrid-now-indicator-arrow {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #c32e2e;
  width: 0;
  height: 0;
  position: relative;
}
.calendar-custom .fc .fc-timegrid-now-indicator-arrow::after {
  content: '';
  display: block;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 67px;
  height: 2px;
  background-color: #c32e2e;
  margin-left: -3px;
}
.calendar-custom .fc-timegrid-now-indicator-line {
  border: 1px solid #c32e2e !important;
}
.calendar-custom .fc-timeGridWeek-view .fc-timegrid-now-indicator-line {
  margin-top: -2px;
}
.calendar-custom .fc-resourceTimeGridDay-view .fc-timegrid-now-indicator-line {
  margin-top: -1px;
}
.calendar-custom .fc-scroller-harness .fc-scroller-harness-liquid {
  margin-left: -3px;
}
.calendar-custom .fc .fc-timegrid-slot-label {
  padding-left: 20px;
}
.calendar-custom .hour-line::after {
  background-color: #d2dbe1 !important;
  height: 2px !important;
  opacity: 1 !important;
}

.calendar-custom .half-hour-line::after {
  background-color: #d2dbe1 !important;
}
.fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
  position: relative;
  top: -9px;
}
/* RESOURCE */
.calendar-custom
  .fc-resourceTimeGridDay-view
  .fc-timegrid-slot.fc-timegrid-slot-lane {
  top: 0 !important;
}
.calendar-custom
  .fc-timeGridWeek-view
  .fc-timegrid-slot.fc-timegrid-slot-lane::after {
  top: 4px;
}
.calendar-custom
  .fc-timeGridWeek-view
  .fc-timegrid-slot-label-cushion.fc-scrollgrid-shrink-cushion {
  top: 0 !important;
}
