# Config app name here for SEO
APP_NAME=
NEXT_PUBLIC_API_URL=
API_INTERNAL_URL=
NEXTAUTH_URL=
NEXTAUTH_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY= 
NEXT_PUBLIC_HELP_PAGE_URL=
NEXT_PUBLIC_SHOW_ACTUAL_DURATION_PAGE=