# Email and password used for Admin site.
ADMIN_EMAIL=
ADMIN_PASSWORD=

# Domain for Admin site
ADMIN_WEBAPP_URL=

# Email and password used for basic auth in swagger.
BASIC_AUTH_EMAIL=
BASIC_AUTH_PASSWORD=

DEBUG=True

# Email and password used for SMTP sendmail.
EMAIL_HOST_USER= # append text 'apikey' if use sendgrid
EMAIL_HOST_PASSWORD= # append APIKEY here if use sendgrid
EMAIL_HOST= # append 'smtp.sendgrid.net' if use sendgrid

#SendGrid
EMAIL_USE_TLS=True
EMAIL_SENDER=

# Ensure to set the secret key.
SECRET_KEY=

# Domain for System site
SYSTEM_WEBAPP_URL=

# Connect redis URL
REDIS_URL=
# (Optional) Used for TLS encryption. Use double quotes and replace actual newlines with \n for multi-line values.
# e.g.: REDIS_CA_CERTS="-----BEGIN CERTIFICATE-----\nMIIBIjANBgkqhkiG9...\n-----END CERTIFICATE-----"
REDIS_CA_CERTS=

SECRET_KEY_FOR_CRONJOB=example_key

# Bucket name for Google Cloud Storage
GS_BUCKET_NAME=

# Set hmac access ID and secret
GS_CUSTOM_ENDPOINT=
GS_HMAC_ACCESS_ID=
GS_HMAC_SECRET=

# DotMoney keys
DOTMONEY_ACCESS_KEY=
DOTMONEY_SECRET_KEY=
DOTMONEY_PRODUCT_ID=
DOTMONEY_BASE_API=https://api.sb.d-money.jp
DOTMONEY_BASE_URL=https://sb.d-money.jp
DOTMONEY_VERSION=Version1
# Stripe
STRIPE_SECRET_KEY=
