channels==4.1.0
channels-redis==4.2.0
daphne==4.1.2
Django==5.0.6
django-cors-headers==4.4.0
django-environ==0.11.2
django-filter==24.3
django-storages==1.14.4
djangorestframework==3.15.2
djangorestframework-camel-case==1.4.2
djangorestframework-simplejwt==5.3.1
drf-spectacular==0.27.2
Faker
google-cloud
google-api-core==2.19.0
google-auth==2.29.0
google-cloud-secret-manager==2.20.0
google-cloud-storage==3.0.0
googleapis-common-protos==1.63.0
gunicorn==22.0.0
Pillow==11.1.0
psycopg2-binary
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
redis==5.0.8
uvicorn[standard]==0.34.0
