.statistic-custom .css-19bb58m {
  margin: 0 !important;
  box-shadow: none !important;
  padding: 0 !important;
}
.statistic-custom .css-19bb58m input {
  margin: 0 !important;
  box-shadow: none !important;
}
.statistic-custom .css-1nmdiq5-menu {
  width: fit-content;
}
.statistic-custom .css-czlyiw-control {
  box-shadow: none !important;
  font-size: 12px;
  height: 30px;
  min-height: 30px;
  max-height: 30px;

  background-color: transparent !important;
}
.statistic-custom .css-1kmpks3-control {
  box-shadow: none !important;
  font-size: 12px;
  height: 30px;
  margin: 0 !important;
  min-height: 30px;
  background-color: transparent !important;
}
.statistic-custom .css-1ux9r8q-option {
  font-size: 12px !important ;
}
.statistic-custom .css-qr46ko div {
  font-size: 12px !important ;
}
.statistic-custom .css-qr46ko {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.statistic-custom .css-1dimb5e-singleValue {
  font-size: 13px;
  font-weight: 400;
  color: black;
  text-align: start;
}
.statistic-custom .css-kcsoer-option {
  color: #3b82f6 !important;
}

.statistic-custom .css-olqui2-singleValue {
  font-size: 12px !important;
  color: black !important;
  text-align: start !important;
  position: relative !important;
  top: -3px !important;
}
