.css-b62m3t-container {
  height: 100%;
}
.css-czlyiw-control {
  height: 100%;
}
.css-1kmpks3-control {
  height: 100%;
}
.css-1kmpks3-control input {
  border: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.css-19bb58m::after {
  border: none !important;
  border-color: transparent !important;
  box-shadow: none !important;
  display: none;
}
.css-m4ndb0-control {
  background-color: transparent !important;
  box-shadow: none !important;
}
.css-1ux9r8q-option {
  font-size: 12px !important;
}
.css-kcsoer-option {
  font-size: 12px !important;
}
.css-1xk112s-option {
  font-size: 12px !important;
}
.css-1whyj3h-option {
  font-size: 12px !important;
}
